:root {
  --darkGrey: rgb(37, 33, 33);
  --green: green;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkGrey);
  color: var(--green);
}

h1 {
  font-size: 100px;
}
.search-btn {
  color: var(--green);
}

.search {
  width: 300px;
}

img {
  width: 100px;
  position: relative;
  right: 500px;
}
