:root {
  --darkGrey: rgb(37, 33, 33);
  --green: green;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkGrey);
  color: var(--green);
}

h1 {
  font-size: 100px;
}
.search-btn {
  color: var(--green);
}

.search {
  width: 300px;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
}

img {
  width: 100px;
  position: relative;
  right: 20px;
  top: -100px;
}
@media screen and (max-width: 1080px) {
  img {
    width: 100px;
    position: relative;
    right: 20px;
    top: -100px;
  }
}

/* Cards are put into a single coloum 600px or lower */
@media screen and (max-width: 600px) {
  img {
    width: 100px;
    position: relative;
    right: 20px;
    top: -100px;
  }
}